body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg');
    background-attachment: fixed;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 300px;
}





header{
    background-color: #000025;
    display: flex;
    align-items: center;
    position: fixed;
    height: 200px;
    width: 100%;
}

.my-photo{
    margin: 32px;
    width: 130px;
    height: 130px;
}

.my-name{
    color: #ffffff;
    margin: 0px;
}

.naveg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: underline;
    width: 550px;
    margin: 0px; 
    padding: 0px; 
    font-size: 20px;
}

a{
    color: #ffffff;
}

a:hover{
    color: #008cff;
    text-decoration: underline #008cff;
}









main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  color: white;
  align-self: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.texto{
    font-size: 20px;
}

.sobre-mim{
    color: #ffffff;
    background-color: #48488d;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 30px;  
    padding: 50px;   
    margin: 50px;
    margin-top: 250px;
}


.experiencias{
    color: #ffffff;
    background-color: #48488d;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 30px;  
    padding: 50px;
    margin: 50px;
}
.logo-exp{
    height: 130px;
}
.fotos-exp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}








.body-conhec{
    display: flex;
    flex-direction: column wrap;
}
.texto-conhecimento{
   font-size: 20px;
   width: 50%;
}
.lista-conhec{
    width: 40%;
}
.conhecimentos{
    color: #ffffff;
    background-color: #48488d;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 30px;  
    padding: 50px;
    margin-top: 50px;
}
.img-conhec{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50px 0px 50px 0px;
}
.logo-conhec{
    height: 65px;
}
.fotos-conhec-ling{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.fotos-conhec-soft{
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0px;
}








.hobbies{

    color: #ffffff;
    background-color: #48488d;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border-radius: 30px;  
    padding: 50px;
    margin: 50px;

}
.logo-hobb{
    height: 130px;
}
.icon-hobb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}









footer{

    background-color: #000025;
    height: 180px;  

}

.contato{
    
    color: white;
    font-style: italic;
    font-size: 25px;    
    padding: 10px 0px 0px 150px;
}

.info-contato{
   
    display: flex;
    justify-content: space-around;   
}


.imgens-cotato{

    vertical-align: middle;
    width: 65px;
    height: 65px;   
}

.texto-footer{
    color: #ffffff;
    font-size: 25px;

}
